<!--
    Lisans ayrıntısı herhalde çok gereksiz oldu :D

<div class="post">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons Lisansı" style="border-width:0;left:50%;margin-left:-44px;position:relative;" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
    </a>
    <br />
    Bu site 
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.tr"> 
        Creative Commons Atıf-AynıLisanslaPaylaş 4.0 Uluslararası Lisansı
    </a> ile lisanslanmıştır.
</div>
-->