---
layout: default
disqus: false
archive: false
post_class: post-template
---
{% include nav.html %}


<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
                {% if page.categories.size > 0 %}
                    {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
                {% endif %}
                {% assign months = "Ocak,Şubat,Mart,Nisan,Mayıs,Haziran,Temmuz,Ağustos,Eylül,Ekim,Kasım,Aralık" | split: "," %}
                {% assign m = page.date | date: "%-m" | minus: 1 %}
                {% assign day = page.date | date: "%d" %}
                {% assign month = months[m] %}
                {% assign year = page.date | date: "%Y" %}
                    
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ day }} {{ month }} {{ year }}</time>
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    {% assign months = "Ocak,Şubat,Mart,Nisan,Mayıs,Haziran,Temmuz,Ağustos,Eylül,Ekim,Kasım,Aralık" | split: "," %}
                    {% assign m = post.date | date: "%-m" | minus: 1 %}
                    {% assign day = post.date | date: "%d" %}
                    {% assign month = months[m] %}
                    {% assign year = post.date | date: "%Y" %}
                        
                    <li>
                        <span> {{ day }} {{ month }} {{ year }} </span>  
                        <a href="{{ post.url  | relative_url}}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        <footer class="post-footer">
            <!-- Share links section -->
            {% include share.html %}

            <!-- Disqus comments -->
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}

        </footer>

    </article>

</main>
